@charset "utf-8";

* {
font-family: '游ゴシック','ヒラギノ角ゴ ProN W3','メイリオ', 'Meiryo','ＭＳ ゴシック','Hiragino Kaku Gothic ProN',sans-serif;
}

html {
  font-size: 16px;
}

.top-carender {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.title {
  padding: 1%;
  background-color: rgb(192, 245, 245);
  background-image: url(../img/lp/logo_NeOS_NIC.png);
  background-size: 8%;
  background-repeat: no-repeat;
  background-position: 95% 0%;
}

.title h2 {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 2px;
}

.title p {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 2px;
}

.text-box {
  padding: 5%;
  width: 90%;
  margin: 0 auto;
}

.content-1 {
  color: rgb(255, 30, 0);
  margin-bottom: 1%;
  width: 50%;
}

.content-1 h3 {
  border-bottom: 2px solid rgba(0, 0, 0, 0.596);
  font-weight: 600;
}

.content-2 {
  margin-bottom: 3%;
}

.content-2 p {
  margin: 0;
  font-size: 1.2rem;
}

.content-3 {
  margin-bottom: 3%;
}

.content-3 p {
  margin: 0;
  font-size: 1.2rem;
}

@media only screen and (max-width: 767px) {
  .top-carender {
    width: 100%;
  }

  .title h2 {
    background-size: 25%;
    background-position: 95% 50%;
  }

  .text-box {
    padding: 5%;
    width: 100%;
  }

  .content-1 {
    color: rgb(255, 30, 0);
    margin-bottom: 1%;
    width: 70%;
    font-size: 0.8rem;
  }
}

